<div class="jumbotron">
  <div class="text-center"><h1>GetSome</h1>
  <h3>Lunch</h3>
  <%= link_to "Sign Up Today!", signup_path, class: "btn btn-primary btn-lg" %></div>
  <div class="media"><%= image_tag("food-salad-restaurant-person.jpg", class: "img-thumbnail") %></div>
</div>
