<div id="home-img-wrapper">
    <div class="text-center" id="home-allignment">
      <strong><h1 id="home-title">GetSome</h1></strong>
      <h3 id="home-descrip">Lunch</h3>
      <%= link_to "Sign Up Today!", signup_path, class: "btn btn-primary btn-lg" %>
    </div>
</div>
